html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mithril Web Design
        link(rel="stylesheet", href="css/bootstrap.css")
        link(rel="stylesheet", href="static/css/style.css")

    body(class='align-items-center') 

        section(class='row p-5 text-center')
            div(class='col')
                h1 What Tech I Use

        section(class='row text-center hover-effect text-light')
            div(class='col-sm p-5 border')
                i(class='fa-brands fa-node-js fa-2xl pb-2')
                h2 NodeJs
                p NodeJs allows me to make websites dynamic and do a lot of work on the backend to make sure your website is fast!
            div(class='col-sm p-5 border')
                i(class="fa-brands fa-js fa-2xl pb-2")
                h2 Javascript
                p Javascript is a fundamental building block of websites. Whether you like it or not, it's here to stay.
            div(class='col-sm p-5 border')
                i(class='fa-solid fa-truck-fast fa-2xl pb-2')
                h2 Express
                p Express allows me to do quick routing, so things on your site can be found
        

        section(class='row text-center align-items-center')
            div(class='col')
                h2 About Me
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            div(class='col')
                img(src="static/images/computer.gif", alt="computer animation")

        
        
        
        section(class='row p-5 text-center bg-dark text-light align-items-center')
            div(class='col-sm')
                img(class='img' src="static/images/logo-transparent-svg.svg", alt="mithril logo")
            div(class='col-sm')
                h2 My process
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        button(class="btn btn-primary totop" onclick='topFunction()' title='go to top')
            i(class='fa-solid fa-angle-up')    
            


        script(src="https://kit.fontawesome.com/9ad5a20da2.js" crossorigin="anonymous") 
        script(src="static/js/script.js") 
        


